<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <header id="exp-header">Header Here</header>
    <div id="all-sub-header">
      <h1>Create New Expenses</h1>
      <nav id="all-nav-bar">
        <a href="/expenses/<%=currentUserId%>">Display expenses</a>
        <a href="/expenses/board">Expense board</a>
      </nav>
    </div>
    <div id="all-filter-section">
      <form action="/expenses/<%=currentUserId%>" method="POST">
        <input type="date" name="date" />
        <input
          type="text"
          name="description"
        />
        <input type="text" name="amount" />
        <input
          type="text"
          name="comment"
        />
        <!-- FILTER: Building Account drop fown -->
        <select name="accountId">
          <option value="0">--All accounts--</option>
          <% for ( let i = 0; i < account.length; i++ ) { %>
          <option value="<%=account[i].id%>" <%= account[i].id===currentAccountId? "selected":'' %>>
            <%=account[i].description%>
          </option>
          <% } %>
        </select>
        <!-- FILTER: Building Subaccount drop down -->
        <select name="subaccountId">
          <option value="0">--All Subaccounts--</option>
          <% for ( let i = 0; i < subaccount.length; i++ ) { %>
          <option value="<%=subaccount[i].id%>" <%= subaccount[i].id===currentSubaccountId? "selected":'' %>>
            <%=subaccount[i].description%>
          </option>
          <% } %>
        </select>
        <!-- FILTER: Building Payment Type drop down -->
        <select name="paymentTypeId">
          <option value="0">--All Types--</option>
          <% for ( let i = 0; i < paymentType.length; i++ ) { %>
          <option value="<%=paymentType[i].id%>" <%= paymentType[i].id===currentPaymentTypeId? "selected":'' %>>
            <%=paymentType[i].description%>
          </option>
          <% } %>
        </select>
        <!-- FILTER: Building Status drop down -->
        <select name="statusId">
          <option value="0">--All Status--</option>
          <% for ( let i = 0; i < status.length; i++ ) { %>
          <option value="<%=status[i].id%>" <%= status[i].id===currentStatusId? "selected":'' %>>
            <%=status[i].description%>
          </option>
          <% } %>
        </select>
        <input class="button" type="submit" value="Create expense" />
      </form>   
      <form action="/expenses/New/<%=currentUserId%>">
        <input class="button" type="submit" value="Clear expense" />
      </form>
    </div>
    <div id="exp-body-grid">
      <ul>
        <% let suma = 0 %>
        <% expense.forEach((item) => { %>
        <li>
          <input type="text" name="grid-id" value="<%=item.id%>" disabled />
          <input type="text" name="grid-date" value="<%=item.date%>" disabled />
          <input
            type="text"
            name="grid-description"
            value="<%=item.description%>"
            disabled
          />
          <input type="text" name="grid-amount" value="<%=item.amount%>" disabled />
          <input
            type="text"
            name="grid-comment"
            value="<%=item.comment%>"
            disabled
          />
          <% suma = suma + parseFloat(item.amount,2)%>
          <input
            type="text"
            name="grid-accountDescription"
            value="<%=item.Account.description%>"
            disabled
          />
          <input
            type="text"
            name="grid-subaccountDescription"
            value="<%=item.Subaccount.description%>"
            disabled
          />
          <input
            type="text"
            name="grid-paymentTypeDescription"
            value="<%=item.PaymentType.description%>"
            disabled
          />
          <input
            type="text"
            name="grid-statusDescription"
            value="<%=item.Status.description%>"
            disabled
          />
          <form action="/expenses/<%= item.id %>/page/new/user/<%=currentUserId%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          <!-- Add edit link here  -->
          <a href="/expenses/<%=item.id %>/user/<%=currentUserId%>/page/new/edit">Edit</a>
        </li>
        <% });%>
        <input
        type="text"
        name="expenseSum"
        value="<%=suma%>"
        disabled
      />
      </ul>
    </div>
    <footer>
      <p>Footer section</p>
    </footer>
  </body>
</html>
